@page "{id:int}"
@model Razor_first_Page.Pages.Products.ModifierProduitModel
@{
}

<h1>Modifier un produit</h1>
<form method="post">
	<input asp-for="Product.Id" type="hidden"/>

	<label>Nom :</label>
	<input asp-for="Product.Nom" type="text"/>
	<span asp-validation-for="Product.Nom" style="color:red"></span>
	<br/>
	<label>Prix :</label>
	<input asp-for="Product.Prix" type="text"/>
	<span asp-validation-for="Product.Prix" style="color:red"></span>
	<br/>
	<label>Description :</label>
	<input asp-for="Product.Description" type="text"/>
	<span asp-validation-for="Product.Description" style="color:red"></span>
	<br/>
	<label>Categorie :</label>
	<select asp-for="Product.CategorieId" asp-items="Model.Categories">
		<option value="">Selectionner une categorie</option>
	</select>
	<span asp-validation-for="Product.CategorieId" style="color:red"></span>
	<br/>
	<button type="submit">Modifier</button>
	<button type="reset">Annuler</button>
</form>


@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}